.f-height {
	min-height: 100vh;
}
.app-link {
	text-decoration: none;
	color: inherit;
	font-size: 1.1rem;
}
.card-image {
	width: 100%;
	height: 100%;
}

.character:hover {
	cursor: pointer;
}

.todo.completed span {
	text-decoration: line-through;
}
.todo label {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	font-size: 1.1rem;
}
.todo span {
	font-size: 1.2rem;
}

.todo i {
	z-index: 2;
}
.active-link {
	color: blue;
}
.logo{
	width: 70px;
}

.i-btn{
	cursor: pointer;
}

.alert {
	position: fixed !important;
	bottom: 0;
	left: 5%;
}
